@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap');
// font-family: 'Inter', sans-serif;
// font-family: 'Playfair Display', serif;

// colors: #FB8F1D / #FFF / #000  / #1ABE84 / #B8BECD / #F9F9FB / #202336 / #4A4C53 / #AFB0B9 /#7D7987 / #C4C4C4 / #848484 /

#destinations {
    background: url('../img/items.png') 23% /contain no-repeat;
    height: 65vh;
    margin: 10% 0;
    .content-wrapper {
        width: 69.5%;
        margin: 0 auto;
        aside:first-of-type {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            margin-bottom: 5%;
            h2 {
                font-family: 'Playfair Display', serif;
                font-size: 2.25rem;
            }
            h3 {
                font-family: 'Inter', sans-serif;
                font-size: 1.1rem;
                color: #FB8F1D;
            }
        }
        aside:last-of-type {
            display: flex;
            justify-content: flex-end;
            figure:not(:last-of-type) {
                margin-right: 2%;
            }
        }
    }
}