@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap');
// font-family: 'Inter', sans-serif;
// font-family: 'Playfair Display', serif;

// colors: #FB8F1D / #FFF / #000  / #1ABE84 / #B8BECD / #F9F9FB / #202336 / #4A4C53 / #AFB0B9 /#7D7987 / #C4C4C4 / #848484 /

#explorer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: url('../img/hero2.png') left/ 80% no-repeat;
    width: 80%;
    height: 90vh;
    margin: 10% auto;
    font-family: 'Inter', sans-serif;
    .content-explorer {
        width: 50%;
        h3 {
            font-family: 'Playfair Display', serif;
            font-size: 2.25rem;
            color:#000;
            width: 70%;
        }
        p {
            font-size: 1.063rem;
            font-weight: 200;
            color:#7D7987;
            width: 69%;
            line-height: 1.6rem;
            margin: 2% 0;
        }
        button {
            display: block;
            font-size: 1rem;
            font-weight: 700;
            border-radius: 0.613rem;
            border: none;
            background-color: #FB8F1D;
            color: #fff;
            padding: .9rem 1.875rem;
        }
    }
}