@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap');
// font-family: 'Inter', sans-serif;
// font-family: 'Playfair Display', serif;

// colors: #FB8F1D / #FFF / #000  / #1ABE84 / #B8BECD / #F9F9FB / #202336 / #4A4C53 / #AFB0B9 /#7D7987 / #C4C4C4 / #848484 /
#partner {
    .partner-wapper {
        height: 65vh;
        margin: 10% 0;
        h2 {
            font-size: 2.25rem;
            font-family: 'Playfair Display', serif;
            margin-left: 10%;
        }
        .content-testimonial {
            display: flex;
            width: 60%;
            margin: 0 10%;
            align-items: center;
            p {
                font-family: 'Inter', sans-serif;
                width: 55%;
                margin: 5% 0;
                line-height: 1.6rem;
            }
            h4 {
                font-size: 1.5rem;
                font-weight: 800;
                margin: 1% 0;
            }
            h5 {
                font-size: 1rem;
                font-weight: 300;
            }
        }
    }
    .trending-stories {
        background: url('../img/partner-items.png') left/contain no-repeat;
        width: 75%;
        margin: 15% auto;
        padding: 0 2%;
        .headlines {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            margin: 10% 0;
            h2 {
                font-family: 'Playfair Display', serif;
                font-size: 2.25rem;
            }
            h3 {
                font-family: 'Inter', sans-serif;
                font-size: 1.1rem;
                color: #FB8F1D;
            }
        }
        .card-wrapper {
            display: flex;
            justify-content: space-between;
            .card {
                width: 266px;
                height: 446px;
                figure {
                    width: 260px;
                    height: 230px;
                    img {
                        border-radius: 5%;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                p {
                    margin-top: 8%;
                    line-height: 1.5rem;
                }
                p:nth-of-type(1) {
                    font-size: 1.19rem;
                    font-weight: 800;
                }
                p:nth-of-type(2) {
                    color: #7D7987;
                    font-size: .9rem;
                }
                p:nth-of-type(3) {
                    color: #FB8F1D;
                    font-size: .9rem;
                    font-weight: 600;
                }
            }
        }
    }
}